<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="sendFromFrom">
    <form class="box" action="" method="get" autocomplete="on">
        <h1 th:utext="${hello}">...</h1>
        <p th:utext = "${message}"></p>
        <div class="form-group">
            <input name="name" id ="name" type="text" class="form-control" placeholder="Напиши имя" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button type = "submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>

</body>
</html>