<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="box" th:fragment="myDate">
    <p class="w-100" th:text="${message}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, voluptate?</p>
    <p class="currentTime w-100" >Текущее время: </p>
    <p class="sentTimeToServer w-100" hidden >Отправленное на сервер время:</p>
    <p class="serverTime w-100" hidden >Время на сервере:</p>
    <button type="button" class="btn btn-primary" onclick="buttonClick()">Направить время на сервер</button>

    <script th:src="@{scripts/my/sendDateTime.js}" src="/viewsresource/scripts/my/sendDateTime.js"></script>
    <script>
        let intervalID = setInterval(()=>updateDate(this.window),1000);
    </script>
</div>
<script language="JavaScript" th:src="@{scripts/my/sendDateTime.js}" src="/viewsresource/scripts/my/sendDateTime.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>