<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="box" th:fragment="sendFile">
    <p class="w-100" th:text="${message}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, voluptate?</p>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <tr th:each="pic, iterStat : ${myPics}">
                <li data-target="#carousel" th:attr="data-slide-to=${iterStat.index}" th:class="${iterStat.index == 0}? 'active':''" class="active"></li>
            </tr>
        </ol>
        <div class="carousel-inner">
            <tr th:each="pic, iterStat : ${myPics}">
                <div th:class="${iterStat.index == 0}? 'carousel-item active':'carousel-item'">
                    <img class="d-block w-100 downloadImage" th:src="${pic.href}" src="..." th:attr="alt=${'Слайд '+iterStat.index}">
                </div>
            </tr>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <script language="JavaScript" th:src="@{scripts/my/downloadFile.js}" src="/viewsresource/scripts/my/downloadFile.js"></script>
    <button type="button" class="btn btn-primary"onclick="downloadFile()">Скачать картинку</button>

</div>
<script language="JavaScript" th:src="@{scripts/my/sendDateTime.js}" src="/viewsresource/scripts/my/sendDateTime.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>