<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{css/favicon.ico}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/external/bootstrap/bootstrap.min.css}" href="viewsresource/css/external/bootstrap/bootstrap.min.css">
    <script th:src="@{scripts/external/jquery/jquery-3.5.1.min.js}" src="viewsresource/scripts/external/jquery/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" th:href="@{css/myStyle.css}" href="viewsresource/css/myStyle.css">
    <title>Main page</title>
</head>
<body>
<!-- регист имеет значение!-->
<!-- включаем заголовок-->
<div th:replace="~{fragments/navbar/HeadBar::HeadNav}"></div>

<div class="center-screen">
    <!-- тело-->
    <div class="table-box">
        <p class="w-100" th:text="${message}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, voluptate?</p>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя файла</th>
                <th scope="col">Размер файла, Кбайт</th>
            </tr>
            </thead>
            <tbody class="table-body-for-insert">
            </tbody>
        </table>
        <script th:src="@{scripts/my/updateUploadFileForm.js}" src="viewsresource/scripts/my/updateUploadFileForm.js"></script>
        <script th:inline="javascript">
            let url = [[${tableRef}]];
            updateMyForm(url);
        </script>
        <form id="upload-files" class="w-100" accept-charset="UTF-8">
            <div>
               <input id="files-input" type="file" name="files" multiple th:maxlength="${maxlength}">
               <label for="files-input" class="btn btn-primary w-100">Загрузить объект на сервер</label>
            </div>
        </form>
        <script th:src="@{scripts/my/uploadFile.js}" src="viewsresource/scripts/my/uploadFile.js"></script>
        <script th:inline="javascript">
            let maxlength = [[${maxlength}]];
            let action = [[${action}]];
            let updateUrl = [[${tableRef}]];

            $('#files-input').change(function () {
                let formData = new FormData($('#upload-files').get(0));
                uploadFiles(action,formData,maxlength, updateUrl);
            });

        </script>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script th:src="@{scripts/external/popper/popper.min.js}" src="viewsresource/scripts/external/popper/popper.min.js"></script>
<script th:src="@{scripts/external/bootstrap/bootstrap.min.js}" src="viewsresource/scripts/external/bootstrap/bootstrap.min.js"></script>
</body>
</html>