@font-face {
    font-family: Roboto Slab;
    src: url("fonts/RobotoSlab-Regular.ttf");
    font-weight: normal;
}

body {
    font-family: Alice, serif;
}

.container-fluid {
    width: 80%;
}
.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.box {
    border: 1px double #b3d7ff;
    min-width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box .large {
    min-width: 750px;
}
