@font-face {
    font-family: Roboto Slab;
    src: url("fonts/RobotoSlab-Regular.ttf");
    font-weight: normal;
}

body {
    font-family: Alice, serif;
}

.container-fluid {
    width: 80%;
}
.center-screen {
    display: flex;
    justify-content: center;
}



.box {
    border: 1px double #b3d7ff;
    min-width: 400px;
    display: inline-flex;
    width: 600px;
    height: 450px;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px;
    flex-direction: column;
}

.text-indent-style {
    text-indent: 30px;
    line-height: 1.5;
    text-align: justify;
}

.box .large {
    min-width: 750px;
}

.navbar-brand {
    margin-right: 30px;
}

.nav-item {
  margin-right: 10px;
  margin-left: 50px;
}
.my-color {
    background-color: #b3d7ff;
}