@font-face {
    font-family: Roboto Slab;
    src: url("fonts/RobotoSlab-Regular.ttf");
    font-weight: normal;
}

body {
    font-family: Alice, serif;
}

.container-fluid {
    width: 80%;
}
.center-screen {
    display: flex;
    justify-content: center;
}

.box {
    border: 1px double #b3d7ff;
    min-width: 400px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.box .large {
    min-width: 750px;
}

.navbar-brand {
    margin-right: 30px;
}

.nav-item {
  margin-right: 10px;
  margin-left: 50px;
}
.my-color {
    background-color: #b3d7ff;
}