<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Путь поиска бинов, можно конфигурировать и вручную в этом файле, но идея так себе-->
    <context:component-scan base-package="com.npn.spring.learning.logger.smallsite"/>

    <!-- Включает специальные аннотации для mvc-->
    <mvc:annotation-driven/>

    <!-- Аннотации для включения ThymeLeaf-->
    <bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <!-- место где лежат шаблоны -->
        <property name="prefix" value="/WEB-INF/views/"/>
        <!-- расширение шаблонов -->
        <property name="suffix" value=".html"/>
        <!-- установка шрифтов в "UTF-8" иначе не будет русских букв-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
        <property name="enableSpringELCompiler" value="true"/>
    </bean>

    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="order" value="1"/>
        <property name="viewNames" value="*"/>
        <!-- установка шрифтов в "UTF-8" иначе не будет русских букв-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    <!-- bean definitions here -->
    <!-- маппинг статических ресурсов (css, картинок и так далее) -->
    <mvc:resources mapping="/operation/**" location="classpath:/viewsresource/" cache-period="35000"/>
    <mvc:resources mapping="/request/**" location="classpath:/viewsresource/" cache-period="35000"/>
    <mvc:resources mapping="/**" location="classpath:/viewsresource/" cache-period="35000"/>
    <mvc:resources mapping="/fragments/**" location="classpath:/fragments/" cache-period="35000"/>
    <mvc:resources mapping="/fragments/**" location="classpath:/fragments/" cache-period="35000"/>
    <import resource="spring-aop.xml"/>
</beans>